<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="https://unpkg.com/mint-ui/lib/style.css">
  <title>API拼接</title>
</head>

<body>
  <div id="app">
    <mt-radio title="选择接口" v-model="selectedAPI" :options="apis"></mt-radio>
    <div v-for="(param, index) in params" :key="index" class="param-block">
        <mt-field class="param-key" placeholder="key" type="text" v-model="param.key"></mt-field>
        <mt-field class="param-value" placeholder="value" type="text" v-model="param.value"></mt-field>
        <div class="param-del">-</div>
    </div>
    <mt-button type="default" @click.native="addParam">增加参数</mt-button>
    <mt-field label="拼接结果" placeholder="拼接结果" type="textarea" rows="6" :value="urlString" readonly></mt-field>
    <mt-button type="primary" v-clipboard:copy="urlString" v-clipboard:success="onCopy" v-clipboard:error="onError">复制URL</mt-button>
  </div>
  <script src="./vue.js"></script>
  <script src="https://unpkg.com/mint-ui/lib/index.js"></script>
  <script src="./vue-clipboard.min.js"></script>
  <script>

    var vm = new Vue({
      el: "#app",
      data: {
        selectedAPI: '/ssrEmoji',
        apis: ['/ssrEmoji', '/v2rayN2quan', '/v2rayn2clash', '/surge2sssub', '/surge2sswin', '/surge2clash', '/clashModify'],
        params: [{
          key: 'url',
          value: 'https://www.google.com'
        }],
        urlState: ''
      },
      computed: {
        urlString() {
          let paramStr = this.params.filter(i => {
            return i.value && i.key
          }).map(i => {
            return i.key + '=' + encodeURIComponent(i.value)
          }).join('&')
          return `https://tgbot.lbyczf.com${this.selectedAPI}?${paramStr}`
        }
      },
      methods: {
        addParam() {
          this.params.push({
            key: '',
            value: ''
          })
        },
        changeAPI(picker, values) {
          this.selectedApi = values[0]
        },
        onCopy(e) {
          window.alert('复制成功')
        },
        onError(e) {
          window.alert('复制失败')
        }
      },
    })

  </script>
</body>

<style scoped>
.param-block {
  display: flex;
  align-items: center;
}

.param-key {
  flex: 3;
}

.param-value {
  flex: 9;
}

.param-del {
  color: white;
  width: 20px;
  text-align: center;
  line-height: 20px;
  height: 20px;
  background-color: rgb(233, 36, 36);
  border-radius: 15px;
}
</style>

</html>