<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="https://unpkg.com/mint-ui/lib/style.css">
  <title>API在线拼接</title>
</head>

<body>
  <div id="app">
    <mt-radio class="api-picker" title="选择接口" v-model="selectedAPI" :options="apis" align="right"></mt-radio>
    <div v-for="(param, index) in params" :key="index" class="param-block">
      <mt-field class="param-key" placeholder="key" type="text" v-model="param.key"></mt-field>
      <mt-field class="param-value" :placeholder="param.hint" type="text" v-model="param.value"></mt-field>
      <div class="param-del" @click="deleteParam(index)">-</div>
    </div>
    <mt-button class="add-param-btn" size="large" type="default" @click.native="addParam">增加参数</mt-button>
    <mt-field class="result-block" label="拼接结果" placeholder="拼接结果" type="textarea" rows="4" :value="urlString" readonly></mt-field>
    <mt-cell class="support-block" title="支持作者" to="https://qr.alipay.com/FKX09054QNRTGGKQZJN6E6" is-link value="支付宝"></mt-cell>
    <mt-button size="large" type="primary" v-clipboard:copy="urlString" v-clipboard:success="onCopy"
      v-clipboard:error="onError">复制URL</mt-button>
  </div>
  <script src="./vue.js"></script>
  <script src="https://unpkg.com/mint-ui/lib/index.js"></script>
  <script src="./vue-clipboard.min.js"></script>
  <script>

    var vm = new Vue({
      el: "#app",
      data: {
        selectedAPI: '/ssrEmoji',
        apis: ['/ssrEmoji', '/v2rayN2quan', '/v2rayn2clash', '/surge2sssub', '/surge2sswin', '/surge2clash', '/clashModify'],
        params: [{
          key: 'url',
          hint: '订阅地址'
        }],
        urlState: ''
      },
      watch: {
        selectedAPI(newVal, _) {
          let params = []
          switch (newVal) {
            case '/ssrEmoji':
              params = [{
                key: 'url',
                hint: '订阅地址'
              }]
              break;
            case '/v2rayN2quan':
              params = [{
                key: 'url',
                hint: 'V2RayN格式订阅地址（V2）'
              }, {
                key: 'group',
                hint: '可选，组名，默认Fndroid'
              },{
                key: 'method',
                hint: '可选，加密方式，默认chacha20-ietf-poly1305'
              }]
              break;
            case '/v2rayn2clash':
              params = [{
                key: 'url',
                hint: 'V2RayN格式订阅地址（V2）'
              }]
              break;
            case '/surge2sssub':
              params = [{
                key: 'url',
                hint: 'Surge托管地址'
              }, {
                key: 'group',
                hint: '可选，Quantumult中的组名'
              }]
              break;
            case '/surge2sswin':
              params = [{
                key: 'url',
                hint: 'Surge托管地址'
              }]
              break;
            case '/surge2clash':
              params = [{
                key: 'url',
                hint: 'Surge托管地址'
              }, {
                key: 'ads',
                hint: '可选，0表示过滤所有REJECT规则'
              }, {
                key: 'snippet',
                hint: '可选，使用片段替代生成后的字段地址'
              }]
              break;
            case '/clashModify':
            params = [{
                key: 'url',
                hint: 'Clash托管地址'
              }, {
                key: 'snippet',
                hint: '可选，使用片段替代生成后的字段地址'
              }]
              break;
          }
          this.params = params
        }
      },
      computed: {
        urlString() {
          let paramStr = this.params.filter(i => {
            return i.value && i.key
          }).map(i => {
            return i.key + '=' + encodeURIComponent(i.value)
          }).join('&')
          return `https://tgbot.lbyczf.com${this.selectedAPI}?${paramStr}`
        }
      },
      methods: {
        addParam() {
          this.params.push({
            key: '',
            value: '',
            hint: 'value'
          })
        },
        deleteParam(idx) {
          this.params.splice(idx, 1)
        },
        changeAPI(picker, values) {
          this.selectedApi = values[0]
        },
        onCopy(e) {
          window.alert('复制成功')
        },
        onError(e) {
          window.alert('复制失败')
        }
      },
    })

  </script>
</body>

<style scoped>

  body {
    background-color: rgb(233, 231, 231);
  }

  .api-picker {
    margin-top: 20px;
  }

  .param-block {
    display: flex;
    align-items: center;
    margin-top: 5px;
  }

  .param-key {
    flex: 3;
  }

  .param-value {
    flex: 6;
    margin-left: 5px;
  }

  .param-del {
    margin-left: 10px;
    color: white;
    width: 20px;
    text-align: center;
    line-height: 18px;
    height: 20px;
    background-color: rgb(233, 36, 36);
    border-radius: 15px;
  }

  .add-param-btn {
    margin-top: 5px;
    margin-bottom: 10px;
  }

  .result-block {
    margin-bottom: 5px;
  }

  .support-block {
    margin-bottom: 5px;
  }
</style>

</html>